@model Book_Shop.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div class="admin__layout">
    <table class="admin__table">
        <thead>
            <tr class="admin__header">
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Rate</th>
                <th>Stock</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.id)</td>
                <td>@Html.DisplayFor(model => model.name)</td>
                <td><img width="120px" height="120px" src="@Html.DisplayFor(model => model.image)" /></td>
                <td>@Html.DisplayFor(model => model.description)</td>
                <td>@Html.DisplayFor(model => model.category)</td>
                <td>@Html.DisplayFor(model => model.price)</td>
                <td>@Html.DisplayFor(model => model.rate)</td>
                <td>@Html.DisplayFor(model => model.stock)</td>
                <td>@Html.DisplayFor(model => model.User.account)</td>
            </tr>
        </tbody>
    </table>
    @using (Html.BeginForm("Delete", "Products", FormMethod.Post, new { style = "margin-left: auto" }))
    {
        @Html.AntiForgeryToken()

        <div class="pagination">
            <a href="/Products/Index" class="action-link">Back to list</a>
            <a href="/Products/Index" class="action-link"><input type="submit" value="Delete" /></a>
        </div>
    }
</div>