@model IEnumerable<Book_Shop.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<br />
<a href="/Products/Create" class="action-link">Create new category</a>
<div class="admin__layout">
    <table class="admin__table">
        <thead class="">
            <tr class="admin__header">
                <th style="text-align:center">Name</th>
                <th class="action-cell" style="text-align:center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "action-link" })
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "action-link" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "action-link" })
                    </td>

                </tr>

            }
        </tbody>
    </table>
    @*<div class="pagination">
            <!-- Thêm mã phân trang -->
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page }))
            <!-- Kết thúc -->
        </div>*@
</div>
