@model Book_Shop.Models.User
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            ChangePassWord
                        </div>
                        <div class="panel-body">
                            @if (@ViewBag.Error != null)
                            {
                                <div class="alert alert-danger">@ViewBag.Error</div>

                            }
                            @if (@ViewBag.Result != null)
                            {
                                <div class="alert alert-success" >@ViewBag.Result</div>

                            }

                            <form action="/Users/ChangePassWord" method="post">
                                <div class="form-group col-xs-6">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Your name" required>
                                </div>

                                <div class="form-group col-xs-6">
                                    <label for="password">Current password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Your name" required>
                                </div>

                                <div class="form-group col-xs-6">
                                    <label for="newPassword">New password</label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Your name" required>
                                </div>

                                <div class="form-group col-xs-6">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Your name" required>
                                </div>

                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                                </div>
                                <a>@Html.ActionLink("Go to Homepage", "Index", "Home")</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

