@model Book_Shop.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Login
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Login", "Users", FormMethod.Post))
                            {
                                @*@Html.HiddenFor(model => model.id)*@
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @*<form action="/Users/Login" method="post">*@
                                <div class="form-group col-xs-6">
                                    <label for="name-field">Name</label>
                                    @*<input type="text" class="form-control" id="name-field" name="Account" placeholder="Your name" >*@
                                    @Html.EditorFor(model => model.account, new { htmlAttributes = new { name = "account", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.account, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-xs-6">
                                    <label for="name-field">PassWord</label>
                                    @*<input type="password" class="form-control" id="name-field" name="Pass_word" placeholder="Password">*@
                                    @Html.EditorFor(model => model.pass_word, new { htmlAttributes = new { name = "pass_word", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.pass_word, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                                </div>
                                <div>
                                    <a>@ViewBag.KQ</a>
                                </div>
                            }
                                <a>@Html.ActionLink("forget Password", "SendMailGetPassWord", "Users")</a>
                                @*</form>*@
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

