@model Book_Shop.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Register</h2>
    <body>
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                @if (@ViewBag.Result != null)
                                {
                                <div class="alert alert-danger">@ViewBag.Result</div>
                                }
                                
                                @using (Html.BeginForm("Register", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group col-xs-6">
                                        <label for="name-field">Name</label>
                                        @Html.EditorFor(model => model.account, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.account, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="name-field">Password</label>
                                        @Html.EditorFor(model => model.pass_word, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                        @Html.ValidationMessageFor(model => model.pass_word, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="name-field">Email</label>
                                        @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="name-field">Avatar</label>
                                        @Html.EditorFor(model => model.avatar, new { htmlAttributes = new { @type = "file", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.avatar, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-xs-12">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="console.log(ViewBag.Dung)">Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

