@model Book_Shop.Models.User
@{
    ViewBag.Title = "registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>registration</h2>
    <body>
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Mr Nam's form
                            </div>
                            <input type="image" disabled>
                            <div class="panel-body">
                                @using (Html.BeginForm("registration", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group col-xs-6">
                                    <label for="name-field">Name</label>
                                    @*<input type="text" class="form-control" id="name-field" name="Account" placeholder="Your name">*@
                                    @Html.EditorFor(model => model.account, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.account, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="name-field">PassWord</label>
                                    @*<input type="password" class="form-control" id="name-field" name="Pass_word" placeholder="Password">*@
                                    @Html.EditorFor(model => model.pass_word, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.pass_word, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="name-field">Your Mail</label>
                                    @*<input type="text" class="form-control" id="name-field" name="Mail" placeholder="mail">*@
                                    @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                                </div>
                                    <div class="form-group col-xs-6">
                                        <img src="" />
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="name-field">Avatar</label>
                                        @*<input type="file" class="form-control" id="name-field" name="Avatar" placeholder="Your Avatar">*@
                                        @Html.EditorFor(model => model.avatar, new { htmlAttributes = new { @type="file", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.avatar, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-xs-12">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="console.log(ViewBag.Dung)">Submit</button>
                                    </div>
                                    <input type="text" value="@ViewBag.KQ" disabled />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

