@model Book_Shop.Models.PromoCode

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "PromoCodes", FormMethod.Post, new { encType = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    <div class="admin__layout">
        <table class="admin__table table-vertical">
            <tr>
                <th class="admin__header">Name</th>
                <td>
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th class="admin__header">Value</th>
                <td>
                    @Html.EditorFor(model => model.value, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.value, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th class="admin__header">Code</th>
                <td>
                    @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
        <div class="pagination">
            <a class="action-link"><input type="submit" value="Create" /></a>
            <a href="/PromoCodes/Index" class="action-link">Back to list</a>
        </div>
    </div>
}