@model Book_Shop.Models.Order

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="admin__layout">
    <table class="admin__table">
        <thead>
            <tr class="admin__header">
                <th style="text-align:center">Status</th>
                <th style="text-align:center">Date</th>
                <th style="text-align:center">Address</th>
                <th style="text-align:center">Payment</th>
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Author</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.status)</td>
                <td>@Html.DisplayFor(model => model.date)</td>
                <td>@Html.DisplayFor(model => model.shippingAddess)</td>
                <td>@Html.DisplayFor(model => model.payment)</td>
                <td>@Html.DisplayFor(model => model.PromoCode.name)</td>
                <td>@Html.DisplayFor(model => model.User.account)</td>
            </tr>
        </tbody>
    </table>
    @using (Html.BeginForm("Delete", "Orders", FormMethod.Post, new { style = "margin-left: auto" }))
    {
        @Html.AntiForgeryToken()

        <div class="pagination">
            <a href="/Orders/Index" class="action-link">Back to list</a>
            <a href="/Orders/Index" class="action-link"><input type="submit" value="Delete" /></a>
        </div>
    }
</div>
