@model PagedList.IPagedList<Book_Shop.Models.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<br />
<form action="/Orders/ViewOrderByMonth" method="post">
    <div class="controls">
        <label class="control-label">nhập tháng: </label>
        <input class="form-control" type="month" name="month" placeholder="Landmark">
        <input type="submit" value="view order"/>
    </div>
    <i>@ViewBag.message</i>
</form>
<div class="admin__layout">
    <table class="admin__table">
        <thead class="">
            <tr class="admin__header">
                <th style="text-align:center">Status</th>
                <th style="text-align:center">Date</th>
                <th style="text-align:center">Address</th>
                <th style="text-align:center">Payment</th>
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Author</th>
                <th class="action-cell" style="text-align:center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.status)</td>
                    <td>@Html.DisplayFor(modelItem => item.date)</td>
                    <td>@Html.DisplayFor(modelItem => item.shippingAddess)</td>
                    <td>@Html.DisplayFor(modelItem => item.payment)</td>
                    <td>@Html.DisplayFor(modelItem => item.PromoCode.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.User.account)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "action-link" })
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "action-link" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "action-link" })
                    </td>

                </tr>

            }
        </tbody>
    </table>
    <div class="pagination">
        <!-- Thêm mã phân trang -->
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page }))
        <!-- Kết thúc -->
    </div>
</div>
