@model IEnumerable<Book_Shop.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<link href="~/Content/admintable.css" rel="stylesheet" />
<link href="~/Content/store.css" rel="stylesheet" />

<div class="container">
    <h1 class="mt-4">XEM HÓA ĐƠN THÁNG</h1>

    <form action="/Orders/ViewOrderByMonth" method="post">
        @Html.AntiForgeryToken()
        <div class="controls">
            <label class="control-label">Nhập tháng: </label>
            <input class="form-control" type="month" name="month" placeholder="Landmark">
            <input type="submit" value="View order" style="margin: 10px 10px 0px 0px" />
            <input type="submit" onclick="exportOrder()" value="Export order" style="margin-top: 10px" />

        </div>
    </form>
    <div class="admin__layout">
        <table class="admin__table">
            <thead class="">
                <tr class="admin__header">
                    <th style="text-align:center">Status</th>
                    <th style="text-align:center">Date</th>
                    <th style="text-align:center">Address</th>
                    <th style="text-align:center">Payment</th>
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">Author</th>
                    <th class="action-cell" style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.status)</td>
                        <td>@Html.DisplayFor(modelItem => item.date)</td>
                        <td>@Html.DisplayFor(modelItem => item.shippingAddess)</td>
                        <td>@Html.DisplayFor(modelItem => item.payment)</td>
                        <td>@Html.DisplayFor(modelItem => item.PromoCode.name)</td>
                        <td>@Html.DisplayFor(modelItem => item.User.account)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "action-link" })
                            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "action-link" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "action-link" })
                        </td>

                    </tr>

                }
            </tbody>
       
    </div>

</div>
<script>
    function exportOrder() {
        $.get("/Orders/Export", name => {
            alert(name)
            window.open("https://localhost:44327/Orders/Download?nameExcel=" + name);
        })
    };
</script>
