@model IEnumerable<Book_Shop.Models.Order_Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<br />
<a href="/Order_Product/Create" class="action-link">Create new order product</a>
<div class="admin__layout">
    <table class="admin__table">
        <thead class="">
            <tr class="admin__header">
                <th style="text-align:center">Quantity</th>
                <th style="text-align:center">Price</th>
                <th style="text-align:center">Status</th>
                <th style="text-align:center">Name</th>
                <th class="action-cell" style="text-align:center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.price)</td>
                    <td>@Html.DisplayFor(modelItem => item.Order.status)</td>
                    <td>@Html.DisplayFor(modelItem => item.Product.name)</td>
                    <td>
                       
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "action-link" })
                      
                    </td>

                </tr>

            }
        </tbody>
    </table>
    
</div>
