
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
          Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/responsive.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/base.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/store.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    @*<link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" media="all" />*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- //font-awesome icons -->
    <link href="~/Content/headercart2.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/register.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
    <header class="header agileits_header">
        <!-- Class Grid -->
        <div class="grid wide">
            <!-- Navbar : có 2 thẻ ul-->
            <nav class="header__navbar hide-on-mobile-tablet">
                <ul class="header__navbar-list">
                    <li>
                        <a href="/Home/Index" class="header__navbar-item header__navbar-item--separate header__navbar-item--strong" style="font-size: 16px;">Kênh người bán</a>
                    </li>
                    
                    <li class="header__navbar-item">
                        <a href="/Store/About" class="header__navbar-item header__navbar-item--separate header__navbar-item--strong" style="font-size: 16px;">
                            Thông tin về chúng tôi
                        </a>
                    </li>
                    <li class="header__navbar-item header__navbar-item--separate header__navbar-item--strong" style="cursor: text;font-size: 16px;">
                        <i class="header__navbar-icon fa fa-phone" style="font-size: 16px;"></i>
                        <span>(+0123) 234 567</span>
                    </li>
                    <li class="header__navbar-item header__navbar-item--strong" style="cursor: text;font-size: 16px;">
                        <i class="header__navbar-icon fas fa-envelope" style="font-size: 16px;"></i>
                        <span>tgmbooks@gmail.com</span>
                    </li>
                </ul>
                <ul class="header__navbar-list">
                    <li class="header__navbar-item header__navbar-item--has-notify header__navbar-item--separate header__navbar-item--strong" style="font-size: 16px;">
                        <a href="/Store/Mail" class="header__navbar-icon-link">
                            <i class="header__navbar-icon far fa-question-circle" style="font-size: 16px;"></i>
                            Liên hệ với chúng tôi
                        </a>
                    </li>
                    <!-- Khi đã đăng nhập -->
                    @if (Session[""] != null)
                    {

                    }
                    @if (Session["userId"] != null)
                     {
                        <li class="header__navbar-item header__navbar-user">
                            <img src="@(Session["avatar"] as string)" alt="" class="header__navbar-user-img">
                            <span class="header__navbar-user-name" style="font-size: 16px">@(Session["fullname"] as string)</span>

                            <ul class="header__navbar-user-menu-a">
                                <li class="header__navbar-user-item">
                                    <a href="/Store/Info" style="font-size: 16px;"><strong>Thong tin</strong></a>
                                </li>
                                <li class="header__navbar-user-item">
                                    <a href="/Store/Purchase" style="font-size: 16px"><strong>Thông tin đơn hàng</strong></a>
                                </li>
                                <li class="header__navbar-user-item">
                                    <a href="/Users/ChangePassword" style="font-size: 16px"><strong>Đổi mật khẩu</strong></a>
                                </li>
                                <li class="header__navbar-user-item header__navbar-user-item--separate">
                                    <a class="" href="/Users/logout" style="font-size: 16px"><strong class="header__navbar-user-item-a">Đăng xuất</strong></a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <!-- Chưa đăng nhập -->
                        <li><a class="header__navbar-item header__navbar-item--strong header__navbar-item--separate" style="font-size: 16px" data-toggle="modal" href="#dang_nhap">Đăng nhập</a></li>
                        <li><a class="header__navbar-item header__navbar-item--strong" style="font-size: 16px" data-toggle="modal" href="/Users/Register">Đăng ký</a></li>

                    }
                </ul>
            </nav>

            <!-- SEARCH -->
            <div class="header-with-search">
                <!-- Nav bars-btn -->
                <label for="nav-mobile-input" class="nav__bars-btn">
                    <i class="fas fa-bars"></i>
                </label>

                <!--  -->
                <input hidden type="checkbox" name="" class="nav__input" id="nav-mobile-input">

                <!-- Overlay -->
                <label for="nav-mobile-input" class="nav__overlay"></label>

                <!-- Nav Mobile -->
                <nav class="nav__mobile">
                    <!-- Nút Close -->
                    <label for="nav-mobile-input" class="nav__mobile-close">
                        <i class="fas fa-times"></i>
                    </label>
                    <ul class="nav__mobile-list">
                        <li>
                            <a href="" class="nav__mobile-link">Trang chủ</a>
                        </li>
                        <li>
                            <a href="" class="nav__mobile-link">Chi tiết</a>
                        </li>
                        <li>
                            <a href="" class="nav__mobile-link">Loại sahcs</a>
                        </li>
                        <li>
                            <a href="" class="nav__mobile-link">Tin tức</a>
                        </li>
                        <li>
                            <a href="" class="nav__mobile-link">Liên hệ</a>
                        </li>
                    </ul>
                </nav>

                <!-- Logo tìm kiếm -->
                <input hidden class="header__search-checkbox" type="checkbox" name="" id="mobile-search-checkbox">
                <label for="mobile-search-checkbox" class="header__mobile-search">
                    <i class="fas fa-search"></i>
                </label>

                <div class="header__logo hide-on-tablet">
                    <a href="/Store/Index" class="header__logo-link">
                        <img class="header__logo-img" src="~/images/logo.png" />

                    </a>
                </div>
                <div class="header__search">
                    <form action="/Store/Search" method="get" class="header__search-input-wrap">
                        <input style="width: 87%; color: #e9e2e2" type="text" name="q" class="header__search-input" value="Tìm sản phẩm ở đây..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required>
                        <button class="header__search-btn" type="submit">
                            <i class="header__search-btn-icon fas fa-search"></i>
                        </button>
                    </form>

                </div>
                <!-- Giỏ hàng -->
                <div class="header__cart">
                    <div class="header__cart-wrap">
                        <i class="header__cart-icon fas fa-shopping-cart"></i>
                        <span class="header__cart-notice">0</span>

                        <div class="header__cart-list ">
                            <!--No cart:có thêm class header__cart-list--no-cart-->
                            <img src="./assets/image/no_cart.png" alt="" class="header__cart-no-cart-img">

                            <!-- Có sản phẩm trong giỏ hàng -->
                            <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                            <ul class="header__cart-list-item">
                            </ul>
                            <a href="/Store/Checkout" class="header__cart-view-cart btn btn--primary">Xem giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- script-for sticky-nav -->
    <script>
        $(document).ready(function () {
            var navoffeset = $(".agileits_header").offset().top;
            $(window).scroll(function () {
                var scrollpos = $(window).scrollTop();
                if (scrollpos >= navoffeset) {
                    $(".agileits_header").addClass("fixed");
                } else {
                    $(".agileits_header").removeClass("fixed");
                }
            });

        });
    </script>
    <!-- //script-for sticky-nav -->
    <div class="logo_products" style="margin-top: 50px; background-color: yellow">
    </div>
    <!-- //header -->
    <!-- products-breadcrumb -->
    @RenderSection("products_breadcrumb", required: false)
    <!-- //products-breadcrumb -->
    <!-- banner -->
    <div class="banner">
        <div class="w3l_banner_nav_left">
            <nav class="navbar nav_bottom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <div class="w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
                        <div class="w3l_fresh_vegetables_grid2">
                            <ul>
                                <li class="navbar-nav-a"><i class="fa fa-check" aria-hidden="true"></i><a style="cursor: pointer" onclick="selectCategory('Skill')">SÁCH KỸ NĂNG</a></li>
                                <li class="navbar-nav-a"><i class="fa fa-check" aria-hidden="true"></i><a style="cursor: pointer" onclick="selectCategory('Comic')">TRUYỆN TRANH</a></li>
                                <li class="navbar-nav-a"><i class="fa fa-check" aria-hidden="true"></i><a style="cursor: pointer" onclick="selectCategory('Fiction')">SÁCH VIỄN TƯỞNG</a></li>
                                <li class="navbar-nav-a"><i class="fa fa-check" aria-hidden="true"></i><a style="cursor: pointer" onclick="selectCategory('Economic')">SÁCH KINH TẾ</a></li>
                                <li class="navbar-nav-a"><i class="fa fa-check" aria-hidden="true"></i><a style="cursor: pointer" onclick="selectCategory('Children')">SÁCH TRẺ EM</a></li>
                                <li class="navbar-nav-a"><i class="fa fa-check" aria-hidden="true"></i><a style="cursor: pointer" onclick="selectCategory('Journal')">TẠP CHÍ</a></li>
                                <li class="navbar-nav-a"><i class="fa fa-check" aria-hidden="true"></i><a style="cursor: pointer" onclick="selectCategory('Textbook')">SÁCH GIÁO KHOA</a></li>
                                <li class="navbar-nav-a"><i class="fa fa-check" aria-hidden="true"></i><a style="cursor: pointer" onclick="selectCategory('English')">SÁCH TIẾNG ANH</a></li>
                                <li class="navbar-nav-a"><i class="fa fa-check" aria-hidden="true"></i><a style="cursor: pointer" onclick="selectCategory('Skill')">SÁCH ĐẶC BIỆT</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
                
            </nav>
        </div>
        <div class="w3l_banner_nav_right">
            @RenderSection("w3l_banner_nav_right", required: false)
            <!-- //flexSlider -->
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- banner -->
    <div>
        @RenderBody()
    </div>
    <!-- newsletter -->
    <div class="newsletter">
        <div class="container">
            <div class="w3agile_newsletter_left">
                <h3>sign up for our newsletter</h3>
            </div>
            <div class="w3agile_newsletter_right">
                <form action="#" method="post">
                    <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="submit" value="subscribe now">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //newsletter -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 w3_footer_grid">
                <h3>information</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="events.html">Events</a></li>
                    <li>@Html.ActionLink("Chi tiết", "About", "Store")</li>
                    <li><a href="products.html">Giao dịch tốt nhất</a></li>
                    <li><a href="services.html">Dịch vụ</a></li>
                    <li><a href="short-codes.html">Mã giảm giá</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>policy info</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="faqs.html">FAQ</a></li>
                    <li><a href="privacy.html">privacy policy</a></li>
                    <li><a href="privacy.html">terms of use</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>what in stores</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="pet.html">Pet Food</a></li>
                    <li><a href="frozen.html">Frozen Snacks</a></li>
                    <li><a href="kitchen.html">Kitchen</a></li>
                    <li><a href="products.html">Branded Foods</a></li>
                    <li><a href="household.html">Households</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>twitter posts</h3>
                <ul class="w3_footer_grid_list1">
                    <li>
                        <label class="fa fa-twitter" aria-hidden="true"></label><i>01 day ago</i><span>
                            Non numquam <a href="#">http://sd.ds/13jklf#</a>
                            eius modi tempora incidunt ut labore et
                            <a href="#">http://sd.ds/1389kjklf#</a>quo nulla.
                        </span>
                    </li>
                    <li>
                        <label class="fa fa-twitter" aria-hidden="true"></label><i>02 day ago</i><span>
                            Con numquam <a href="#">http://fd.uf/56hfg#</a>
                            eius modi tempora incidunt ut labore et
                            <a href="#">http://fd.uf/56hfg#</a>quo nulla.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <div class="agile_footer_grids">
                <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                    <div class="w3_footer_grid_bottom">
                        <h4>100% secure payments</h4>
                        <img src="~/images/card.png" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                    <div class="w3_footer_grid_bottom">
                        <h5>connect with us</h5>
                        <ul class="agileits_social_icons">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="wthree_footer_copy">
                <p>© 2016 Grocery Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- ############################ Đăng nhập ############################## -->
    <div class="modal fade" id="dang_nhap">
        <div class="modal-dialog">
            <div class="login-wrap">
                <div class="login-html">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                        <label for="tab-1" class="tab">Đăng ký</label>
                    </div>
                    <form method="post" id="frm-login">
                        <div class="modal-body">
                            <div id="err_login"></div>
                            <div id="login_here">
                                <label>Tên đăng nhập : </label>
                                <input type="text" class="form-control" name="account" id="username" style="background: rgba(255,255,255,.1);border: none;padding: 15px 20px;border-radius: 25px; margin: 10px 0; color:white;" />
                                <label>Mật khẩu : </label>
                                <input type="password" class="form-control" name="password" id="password" style="color:white;background: rgba(255,255,255,.1);border: none;padding: 15px 20px;border-radius: 25px; margin: 10px 0;" />
                                <br />
                                <a href="/Users/ForgotPassword" class="text-danger">Quên mật khẩu</a>
                            </div>
                            <br />
                            <button type="submit" class="form-control btn-primary" id="login_btn" style="border: none;padding: 5px 20px;border-radius: 25px; margin: 10px 0;height: 50px;color: #fff;display: block;">ĐĂNG NHẬP</button>
                            <div id="waiting" style="display: none;">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <script src="~/Scripts/minicart.js"></script>
    <script>
        paypal.minicart.render();

        paypal.minicart.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });

    </script>
    <script src='~/Scripts/okzoom.js'></script>
    <script>
        $(function () {
            $('#example').okzoom({
                width: 200,
                height: 200,
                border: "1px solid black",
                shadow: "0 0 5px #000",
                round: false,
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#frm-login").submit(function (e) {
                if ($("#username").val() == '') {
                    $('#err_login').html('<div class="alert alert-danger">Username chưa nhập</div>');
                    $("#username").focus();
                    return false;
                }
                else if ($("#password").val() == '') {
                    $('#err_login').html('<div class="alert alert-danger">Password chưa nhập</div>');
                    $("#password").focus();
                    return false;
                }
                else {
                    var form_data_login = {
                        username: $("#username").val(),
                        password: $("#password").val()
                    };
                    $.ajax({
                        url: '/Users/Login',
                        type: 'POST',
                        async: true,
                        data: form_data_login,
                        success: function (msg_login) {
                            //alert(msg);
                            if (msg_login == 'false') {
                                $('#err_login').html('<div class="alert alert-danger">Tên hoặc mật khẩu không chính xác</div>');
                                $("#password").val("");
                                $("#password").focus();
                                return false;
                            }
                            else if (msg_login == 'isShipper') {
                                setTimeout(
                                    //chuyển đến địa chỉ msg_login của controler gửi qua
                                    function () {
                                        window.location.href = 'https://localhost:44327/Home/Index';
                                    }, 100);
                            }
                            else {
                                $("#login_here").hide();
                                $(".modal-footer").hide();

                                $('#err_login').html('<div class="alert alert-success"><strong>Đăng nhập thành công</strong><span> Hệ thống tự chuyển sau vài giây ...</span></div>');
                                setTimeout(
                                    //chuyển đến địa chỉ msg_login của controler gửi qua
                                    function () {
                                        window.location.href = window.location.pathname;
                                    }, 100);
                            }
                        }
                    });
                    return false;
                }
            });
        })
        //Load wating bar
        $(document).ajaxStart(function () {
            $("#waiting").show();
        }).ajaxStop(function () {
            $("#waiting").hide();
        });
    </script>
    <script>
        function getCart(data) {
            $('.header__cart-list-item').html("")
            let totalQuantity = 0
            let totalAmount = 0
            $('.header__cart-notice').html("0")
            $('#cartCheckout').html("")
            $('#checkoutBasket').html("")
            let i = 1
            data.forEach(item => {
                totalQuantity += item.quantity

                let product = `<li class="header__cart-item">
                                        <img src="${item.product.image}" alt="" class="header__cart-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">${item.product.name}</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-price">đ${thousandFormat(item.product.price)}</span>
                                                    <span class="header__cart-item-multiply">x</span>
                                                    <span class="header__cart-item-qnt">${item.quantity}</span>
                                                </div>
                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-description">
                                                    Thể loại: ${item.product.category}
                                                </span>
                                            </div>
                                        </div>
                                    </li>`
                $('.header__cart-list-item').append(product)
                $('.header__cart-notice').html(totalQuantity)

                let productInCheckout = `<tr class="rem1">
                                    <td class="invert">${i}</td>
                                    <td class="invert-image"><a href="Store/Single?id=${item.product.id}"><img width="48px" height="48px" src="${item.product.image}" alt=" " class="img-responsive"></a></td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus" onclick="minusFromCart(${item.product.id})">&nbsp;</div>
                                                <div class="entry value"><span>${item.quantity}</span></div>
                                                <div class="entry value-plus active" onclick="addToCart(${item.product.id})">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="invert">${item.product.name}</td>
                                    <td class="invert">đ${thousandFormat(item.product.price * item.quantity)}</td>

                                </tr>`
                $('#cartCheckout').append(productInCheckout)

                let checkoutBasket = `<li> ${item.product.name} <i> -</i> <span>đ${thousandFormat(item.quantity * item.product.price)} </span></li>`
                $('#checkoutBasket').append(checkoutBasket)
                totalAmount += item.quantity * item.product.price
                ++i
            })
            let checkoutPromo = `<li> Promo code <i> -</i><span id="checkoutPromo">- đ0</span></li>`
            $('#checkoutBasket').append(checkoutPromo)
            let checkoutTotal = `<li> Total <i> -</i><span id="checkoutTotal">đ${thousandFormat(totalAmount)}</span></li>`
            $('#checkoutBasket').append(checkoutTotal)
        }
        $(document).ready(function () {
            $.get("/Store/GetCart", function (data) {
                getCart(data)
            });
        });
        function addToCart(id) {
            fetch('/Store/AddToCart', {
                'method': 'post',
                'body': JSON.stringify({
                    'id': id
                }),
                'headers': {
                    'Content-Type': 'application/json'
                }
            }).then(res => res.json()).then(data => {
                getCart(data)
            })
        }
        function minusFromCart(id) {
            fetch('/Store/MinusFromCart', {
                'method': 'post',
                'body': JSON.stringify({
                    'id': id
                }),
                'headers': {
                    'Content-Type': 'application/json'
                }
            }).then(res => res.json()).then(data => {
                getCart(data)
            })
        }
    </script>
    <script>
        function selectCategory(category) {
            const urlParams = new URLSearchParams(window.location.search);
            //const category = urlParams.get('category');
            const page = urlParams.get('page');
            window.location.href = `/Store/Search?category=${category}`
        }
    </script>
    <script>
        function addPromoCode() {
            var code = $('#promoCode').val()
            if (!code) return 0
            fetch('/Store/AddPromoCode', {
                'method': 'post',
                'body': JSON.stringify({
                    'code': code
                }),
                'headers': {
                    'Content-Type': 'application/json'
                }
            }).then(res => res.json()).then(data => {
                var oldPromoCodeValue = parseInt(removeThousanFormat($("#checkoutPromo").text()).split('').slice(3).join(''))
                $("#checkoutPromo").html("- đ" + thousandFormat(data))
                var checkoutTotalValue = parseInt(removeThousanFormat($("#checkoutTotal").text()).split('').slice(1).join('')) - data + oldPromoCodeValue
                $("#checkoutTotal").html('đ' + thousandFormat(checkoutTotalValue))
            })
        }
        function thousandFormat(number) { return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') }
        function removeThousanFormat(string) { return string.replace(/,/g, '') }
    </script>
</body>
</html>
