@model Book_Shop.Models.Payment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Payments", FormMethod.Post, new { encType = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    <div class="admin__layout">
        <table class="admin__table table-vertical">
            <tr>
                <th class="admin__header">Name</th>
                <td>
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th class="admin__header">CardNumber</th>
                <td>
                    @Html.EditorFor(model => model.cardNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cardNumber, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th class="admin__header">Money</th>
                <td>
                    @Html.EditorFor(model => model.money, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.money, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
        <div class="pagination">
            <a class="action-link"><input type="submit" value="Create" /></a>
            <a href="/Payments/Index" class="action-link">Back to list</a>
        </div>
    </div>
}
