@model IEnumerable<Book_Shop.Models.Payment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<link href="~/Content/admintable.css" rel="stylesheet" />
<div class="container">
    <h1 class="mt-4">QUẢN LÝ THANH TOÁN</h1>
    <a href="/Payments/Create" class="action-link" style="line-height: 17px">Create new payment</a>
    <div class="admin__layout">
        <table class="admin__table">
            <thead class="">
                <tr class="admin__header">
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">CardNumber</th>
                    <th style="text-align:center">Money</th>
                    <th class="action-cell" style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.name)</td>
                        <td>@Html.DisplayFor(modelItem => item.cardNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.money)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "action-link" })
                            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "action-link" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "action-link" })
                        </td>

                    </tr>

                }
            </tbody>
        </table>
        @*<div class="pagination">
                <!-- Thêm mã phân trang -->
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page }))
                <!-- Kết thúc -->
            </div>*@
    </div>
</div>

