
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout_Store.cshtml";
}
@model Book_Shop.Models.User
@section products_breadcrumb
    {
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>|</span></li>
                <li>Checkout</li>
            </ul>
        </div>
    </div>
}
@section w3l_banner_nav_right
    {
    <div class="privacy about">
        <h3>Chec<span>kout</span></h3>

        <div class="checkout-right">
            <h4>Your shopping cart contains: <span>3 Products</span></h4>
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody id="cartCheckout">              
                </tbody>
            </table>
        </div>
        <div class="checkout-left">
            <div class="col-md-4 checkout-left-basket">
                <h4>Continue to basket</h4>
                <ul id="checkoutBasket">
                    <li>Total Service Charges <i>-</i> <span>$15.00</span></li>
                </ul>
            </div>
            <div class="col-md-8 address_form_agile">
                <h4>Add a new Details</h4>
                @if (ViewBag.Userid != null && ViewBag.Userid == true)
                {
                    if (ViewBag.KQ != null)
                    {
                        @*foreach (var item in ViewBag.KQ)
                        {
                            <a coler="red">@item</a>
                            <br />
                        }*@
                        <br />
                         <a coler="red">@ViewBag.KQ</a>
                    }
                    <form action="/Store/CheckoutProdcut" method="post" class="creditly-card-form agileinfo_form">
                        <section class="creditly-wrapper wthree, w3_agileits_wrapper">
                            <div class="information-wrapper">
                                <div class="first-row form-group">
                                    <div class="controls">
                                        <label class="control-label">Full name: </label>
                                        <input class="billing-address-name form-control" value="@Model.fullname" type="text" name="name" placeholder="Full name">
                                    </div>
                                    <div class="w3_agileits_card_number_grids">
                                        <div class="w3_agileits_card_number_grid_left">
                                            <div class="controls">
                                                <label class="control-label">Mobile number:</label>
                                                <input class="form-control" type="text" value="@Model.phone" placeholder="Mobile number">
                                            </div>
                                        </div>
                                        <div class="w3_agileits_card_number_grid_right">
                                            <div class="controls">
                                                <label class="control-label">Landmark: </label>
                                                <input class="form-control" type="text" placeholder="Landmark">
                                            </div>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Promode code: </label>
                                        <input class="form-control" type="text" name="Promode" placeholder="Promocode" id="promoCode">
                                        <input type="button" onclick="addPromoCode()" value="Add">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Address: </label>
                                        <input class="form-control" type="text" name="Address" value="@Model.address" placeholder="Address">
                                    </div>
                                    <div class="controls">
                                        <label class="control-label"> payment options: </label>
                                        <select class="select" name="payOption">
                                            <option value="1">ready cash</option>
                                            <option value="2">MoMo</option>
                                        </select>
                                    </div>
                                    <br />
                                    <div class="controls">
                                        <label class="control-label"> shipping way :
                                        </label>
                                        <select class="select" name="shippgingOption">
                                            <option value="1">Economical delivery 15.000đ</option>
                                            <option value="2">Fast delivery 30.000đ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="checkout-right-basket">
                                    <button type="submit" class="glyphicon glyphicon-chevron-right">Make a Payment<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </section>
                    </form>
                }
                else
                {
                    <form action="#" method="post" class="creditly-card-form agileinfo_form">
                        <section class="creditly-wrapper wthree, w3_agileits_wrapper">
                            <div class="information-wrapper">
                                <div class="checkout-right-basket">
                                    <a href="#dang_nhap" data-toggle="modal">Make a Payment <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </section>
                    </form>
                }
                @*@if (ViewBag.KQ != null)
        {
            foreach (var item in ViewBag.KQ)
            {
                <a coler="red">@item</a>
                <br />
            }
        }*@
            </div>

            <div class="clearfix"> </div>

        </div>

    </div>
}

    

