
@{
    Layout = "~/Views/Shared/_layout_Store.cshtml";
}
@model PagedList.IPagedList<Book_Shop.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/store.css" rel="stylesheet" type="text/css" media="all" />
@section products_breadcrumb {
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i>@Html.ActionLink("Trang chủ", "Index", "Store")<span>|</span></li>
                @if (Request.QueryString["category"] != null && Model.Count != 0)
                {
                    <li>@Model[0].category</li>
                }
            </ul>
        </div>
    </div>
}

<!-- banner -->
@section w3l_banner_nav_right
{
    <section class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="w3l_banner_nav_right_banner">
                    </div>
                </li>
                <li>
                    <div class="w3l_banner_nav_right_banner1">
                    </div>
                </li>
                <li>
                    <div class="w3l_banner_nav_right_banner2">
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- flexSlider -->
    <link rel="stylesheet" href="~/Content/flexslider.css" type="text/css" media="screen" property="" />
    <script defer src="~/Scripts/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider -->
}
@*@foreach( var item in Model)
    {
        <button onclick="addToCart(@item.id)">@item.name</button>
    }*@
<!-- banner -->
<div class="banner_bottom" style="padding-top: 0 !important">
    <div class="wthree_banner_bottom_left_grid_sub">
    </div>
    <div class="wthree_banner_bottom_left_grid_sub1">
        <div class="col-md-4 wthree_banner_bottom_left">
            <div class="wthree_banner_bottom_left_grid">
                <img src="~/images/4-1.jpg" alt=" " class="img-responsive" />
                <div class="wthree_banner_bottom_left_grid_pos">
                    <h4 style="color: white">Giảm giá đến <span>25%</span></h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 wthree_banner_bottom_left">
            <div class="wthree_banner_bottom_left_grid">
                <img src="~/images/5-1.jpg" alt=" " class="img-responsive" />
                <div class="wthree_banner_btm_pos">
                </div>
            </div>
        </div>
        <div class="col-md-4 wthree_banner_bottom_left">
            <div class="wthree_banner_bottom_left_grid">
                <img src="~/images/6-1.jpg" alt=" " class="img-responsive" />
                <div class="wthree_banner_btm_pos1">
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        @if (Request.QueryString["category"] == null && Request.QueryString["q"] == null)
        {
            <h3>Sản phẩm đề xuất</h3>
        }
        else if (Request.QueryString["q"] == null && Model.Count !=0)
        {
            <h3>@Model[0].category</h3>
        }
        else if (Request.QueryString["category"] == null)
        {
            <h3>Kết quả tìm kiếm</h3>
        }
        <div class="agile_top_brands_grids">
            @foreach (var item in Model)
            {
                <div class="col-md-3 top_brand_left" style="margin: 12px 0">
                    <div class="hover14 column ">
                        <div class="agile_top_brand_left_grid hover-tien">
                            @if (Request.QueryString["category"] == null && Request.QueryString["q"] == null)
                            {
                                <div style="z-index: 1" class="tag"><img src="~/images/tag.png" alt=" " class="img-responsive" /></div>
                            }
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="/Store/Single?id=@(item.id)"><img class="img-tien" src="@(item.image)" width="150" height="150" /></a>
                                            <p style="font-size: 1.1rem">@item.name</p>
                                            <span style="font-size: 1.2rem">đ@(@String.Format("{0:n0}", item.price))</span><h4 style="display: inline"><span style="color: red">đ@(@String.Format("{0:n0}", item.price*1.5))</span></h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <input type="button" onclick="addToCart(@item.id)" value="Thêm vào giỏ hàng" class="button" />
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <br />
            <div class="clearfix"> </div>
            <div class="pagination1" style="float: right">
                @Html.PagedListPager(Model, page => Url.Action("Search", new { page, category = Request.QueryString["category"], q = Request.QueryString["q"] }))
            </div>
        </div>
    </div>
</div>
<!-- //top-brands -->
<!-- fresh-vegetables -->
<div class="fresh-vegetables">
    <div class="container">
        <h3>Sản phẩm tốt</h3>
        <div class="w3l_fresh_vegetables_grids">
            <div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
                <img src="~/images/img2.jpg" style="height: 410px" alt=" " class="img-responsive" />
            </div>
            <div class="col-md-9 w3l_fresh_vegetables_grid_right">
                <div class="col-md-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <img src="~/images/7-1.jpg" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <div class="w3l_fresh_vegetables_grid1_rel">
                            <img src="~/images/7-2.jpg" alt=" " class="img-responsive" />
                            <div class="w3l_fresh_vegetables_grid1_rel_pos">
                            </div>
                        </div>
                    </div>
                    <div class="w3l_fresh_vegetables_grid1_bottom">
                        <img src="~/images/10-1.jpg" alt=" " class="img-responsive" />
                        <div class="w3l_fresh_vegetables_grid1_bottom_pos">
                            <h5>Sản phẩm đặc biệt</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <img src="~/images/9-1.jpg" alt=" " class="img-responsive" />
                    </div>
                    <div class="w3l_fresh_vegetables_grid1_bottom">
                        <img src="~/images/11-1.jpg" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="agileinfo_move_text">
                    <div class="agileinfo_marquee">
                        <h4>get <span class="blink_me">25% off</span> on first order and also get gift voucher</h4>
                    </div>
                    <div class="agileinfo_breaking_news">
                        <span> </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //fresh-vegetables -->
