
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout_Store.cshtml";
}
@model Book_Shop.Models.User
@using PagedList.Mvc;

<!-- products-breadcrumb -->
@section products_breadcrumb
    {
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i>@Html.ActionLink("Home", "Index", "Store")<span>|</span></li>
                <li>Infomation</li>
            </ul>
        </div>
    </div>
}
<!-- //products-breadcrumb -->
<!-- banner -->
@section w3l_banner_nav_right
{
    <!-- info -->
    <div class="mail">
        <h3>Infomation</h3>
        <div class="agileinfo_mail_grids" style="border: 2px solid #217c0c; background-color: #e0dfd4">
            <div class="col-md-4" style="padding: 20px 0 0 60px">
                <div id="avatarInfo">
                    <img src="@Html.DisplayFor(model => model.avatar)" style="border: 10px solid #808080; border-radius: 50%;" width="200" height="200" />
                </div>
            </div>
            <div class="col-md-8 agileinfo_mail_grid_right" style="padding: 20px 0 10px 35px">
                <form action="#" method="post" >
                    <div class="form-group col-md-5">
                        <label for="inputID">ID</label>
                        <input disabled type="text" value="" class="form-control" id="inputID" placeholder="ID" style="margin-top: 7px;border-radius: 3px;">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputPhone">Phone</label>
                        <input disabled type="text" value="@Html.DisplayFor(model => model.phone)" class="form-control" id="inputPhone" placeholder="Phone" style="margin-top: 7px;border-radius: 3px;">
                    </div>
                    <div class="form-group col-md-10">
                        <label for="inputAccount">Account</label>
                        <input disabled type="text" value="@Html.DisplayFor(model => model.account)" class="form-control" id="inputAccount" placeholder="Account" style="margin-top: 7px;border-radius: 3px;">
                    </div>
                    <div class="form-group col-md-10">
                        <label for="inputPayment">Payment</label>
                        <img class="img_payment" src="@Model.avatar" style="height: 15px; border-radius: 50%;" />
                        <input disabled type="text" value="@Html.DisplayFor(model => model.paymentId)" class="form-control" id="inputPayment" placeholder="Payment" style="margin-top: 7px;border-radius: 3px;">
                    </div>
                    <div class="form-group col-md-10">
                        <label for="inputEmail4">Email</label>
                        <input disabled type="text" value="@Html.DisplayFor(model => model.mail)" class="form-control" id="inputEmail4" placeholder="Email" style="margin-top: 7px;border-radius: 3px;">
                    </div>
                    <div class="form-group col-md-10">
                        <label for="inputAddress">Address</label>
                        <input disabled type="text" value="@Html.DisplayFor(model => model.address)" class="form-control" id="inputAddress" placeholder="Address" style="margin-top: 7px;border-radius: 3px;">
                    </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
}