@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout_Purchase.cshtml";
}
@model List<Book_Shop.Models.Order_Detail>
@*----------------- Add model ----------------------*@
@using PagedList.Mvc;
@*--------------------------------------------------*@
<link href="~/Content/purchase.css" rel="stylesheet" type="text/css" media="all" />

<style>
</style>
<!-- products-breadcrumb -->
@section products_breadcrumb
{
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i>@Html.ActionLink("Home", "Index", "Store")<span>|</span></li>
                <li>Purchase</li>
            </ul>
        </div>
    </div>
}
<div class="container2">
    <div class="container">
        <div class="space"> </div>
        <div class="purchase-list-page__wrapper boder-2 statusbar" role="main">
            <div class="purchase-list-page__tabs-container">
                <div class="purchase-list-page__tab" id="ALL">
                    <a class="purchase-list-page__tab-label" href="/Store/Purchase?Status=ALL">All</a>
                </div>
                <div class="purchase-list-page__tab" id="PENDING">
                    <a class="purchase-list-page__tab-label" href="/Store/Purchase?Status=PENDING">Confirming</a>
                </div>
                <div class="purchase-list-page__tab" id="GETTING">
                    <a class="purchase-list-page__tab-label" href="/Store/Purchase?Status=GETTING">Getting</a>
                </div>
                <div class="purchase-list-page__tab" id="SHIPPING">
                    <a class="purchase-list-page__tab-label" href="/Store/Purchase?Status=SHIPPING">Shipping</a>
                </div>
                <div class="purchase-list-page__tab" id="DONE">
                    <a class="purchase-list-page__tab-label" href="/Store/Purchase?Status=DONE">Done</a>
                </div>
                <div class="purchase-list-page__tab" id="CANCELED">
                    <a class="purchase-list-page__tab-label" href="/Store/Purchase?Status=CANCELED">Cancelle</a>
                </div>
                <div class="purchase-list-page__tab" id="REFUND">
                    <a class="purchase-list-page__tab-label" href="/Store/Purchase?Status=REFUND">Returns/Refund</a>
                </div>
            </div>
        </div>

        <div>
            <div class="basket">
                <div class="basket-module">
                    <form action="/Store/Purchase" method="get">
                        <input id="promo-code" style="color: #e9e2e2" type="text" name="promo-code" class="promo-code-field" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required>
                        <button class="promo-code-cta" type="submit">Search</button>
                    </form>
                </div>
                
                <div class="basket-labels basket-labels2">
                    <ul class="type-name">
                        <li class="item item-heading type-name-s">Item</li>
                        <li class="price type-name-s">Price</li>
                        <li class="quantity type-name-s">Quantity</li>
                        <li class="quantity type-name-s">Status</li>
                        <li class="quantity type-name-s">Transport</li>
                    </ul>
                </div>
                <div class="basket-product ">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="row makerelative basket-labels2">
                                @foreach (var item2 in item.orderProduct)
                                {
                                    <div class="col-xs-12 itemlayout"> cái này là tên của shop, sửa cho đẹp sau, sửa cho hết vòng lặp sau: @item2.author</div>
                                    <div class="col-xs-12 itemlayout">
                                        <div class="item">
                                            <div class="product-image">
                                                <img src="@(item2.imageProduct)" width="120" height="166" alt="Placholder Image 2" class="product-frame">
                                            </div>
                                            <div class="product-details">
                                                <p>@item2.nameProduct</p>
                                                <p>Thể loại: <span>@item2.categoryProduct</span></p>
                                            </div>
                                        </div>
                                        <div class="price price2">@(@String.Format("{0:n0}", item2.price))</div>
                                        <div class="quantity">
                                            <span class="">x@(item2.quantity)</span>
                                        </div>
                                        <div class="quantity">
                                            <span class="">@item.status</span>
                                        </div>
                                        <div class="quantity">
                                            <span class="">Giao hàng tiết kiệm</span>
                                        </div>

                                    </div>
                                }
                            <section class="creditly-wrapper wthree, w3_agileits_wrapper tongsotien3">
                                <div class="text-right tongsotien2">Tổng số tiền:<span class="tongsotien"> đ@(@String.Format("{0:n0}", item.PriceALl))</span></div>
                                <div class="information-wrapper">
                                    <div class="checkout-right-basket">
                                        <a href="/Store/Detail?idOrder=@(item.id)" data-toggle="modal">View order details <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                                        @if (item.status == "PENDING" || item.status == "GETTING")
                                        {
                                            <a href="#alo" data-toggle="modal">Cancel order <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </a>
                                        }
                                        <!-- ############################ cancel ############################## -->
                                        <div class="modal fade" id="alo">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form method="post" action="/Store/CancelOrder?idOrder=@item.id">
                                                        <div class="modal-body">
                                                            <div id="err_login"></div>
                                                            <div id="login_here">
                                                                <label>Reason cancel order : </label>
                                                                <input type="text" class="form-control" name="account" id="reason" />
                                                            </div>
                                                            <br />
                                                            <div id="waiting" style="display: none;">
                                                                <div class="progress progress-striped active">
                                                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary">cancel</button>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </form>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                        <!-- Bootstrap Core JavaScript -->
                                    </div>
                                </div>
                            </section>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="space"> </div>
    </div>
</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('Status');
    $(`#${myParam}`).addClass('purchase-list-page__tab--selected')
    if (!myParam) $('#ALL').addClass('purchase-list-page__tab--selected')
</script>
