@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout_Purchase.cshtml";
}
@*----------------- Add model ----------------------*@
@using PagedList.Mvc;
@*--------------------------------------------------*@
<div class="">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="purchase-list-sp">
                <div class="purchase-list-sp1">
                    <span>Tài khoản khách hàng:</span>
                    <span>@item.UserFullName</span>
                </div>
                <div class="purchase-list-sp2">
                    <span>Mã Đơn hàng:</span>
                    <span id="">@item.id</span>
                </div>
            </div>
            <div class="purchase-list-page__wrapper purchase-boder1" role="main">
                @foreach (var item2 in item.orderProduct)
                {
                    <div class="purchase-list-page__tabs-container">
                        <div class="sp1">
                            <img src="@(item2.imageProduct)" width="100px" height="100px" />
                            <span id="sp_name">@item2.nameProduct</span>
                            <span id="sp_sol"><strong>x1</strong></span>
                        </div>
                        <div class="sp2">
                            <span>@item2.price</span>
                        </div>
                        <div class="sp3">
                            <span><strong>@item.status</strong></span>
                        </div>
                        <div class="sp4">
                            <span>Giao hàng tiết kiệm</span>
                        </div>
                        <div class="sp5">
                        </div>
                    </div>
                }
            </div>
            <div class="purchase-list-page__wrapper purchase-boder1" role="main">
                <div class="purchase-list-page__tabs-container">
                    <div class="sp1"></div>
                    <div class="sp2"></div>
                    <div class="sp3">
                        <span>Tổng tiền :</span>
                    </div>
                    <div class="sp4 Price">
                        <span font-size="1.875rem">@item.PriceALl VND</span>
                    </div>
                    <div class="sp5">
                        <a>Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <br>
        }
    }
</div>