@model Book_Shop.Models.Product
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<style>
    .container1 {
        background-color: #f0efef;
    }
    .main {
        padding-top: 10px;
        padding-bottom: 20px;
        width: 450px;
        height: auto;
        background-color: #ecdfdf;
        padding-left: 50px;
        margin: 30px 0px 20px 320px;
        border-radius: 15px;
    }
    .color1 {
        background-color: #23ea27;
        border: none;
    }
    .cnt {
        height: 40px;
        width: 120px;
        border-radius: 50px;
        color: white;
    }
    .cnt:hover {
        color: #f0f3c6;
    }
    .link2 {
        height: 40px;
        width: 120px;
        background-color: #1740f7;
        margin-left: 30px;
        border-radius: 50px;
        line-height: 40px;
        text-align: center;
        color: white;
    }
    .link2:hover {
        color: #f0f3c6;
    }

    td, th {
        padding: 8px;
    }
    .img1 {
        width: 50px;
        height: 50px;
    }
</style>
<div class="container container1">
    <h1 class="mt-4">TẠO SẢN PHẨM</h1>
    <div class="main">
        @using (Html.BeginForm("Create", "MyShop", FormMethod.Post, new { encType = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="admin__layout">
                <table class="admin__table table-vertical">
                    <tr class="kc">
                        <th class="admin__header">ID</th>
                        <td>@Html.DisplayFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr class="kc">
                        <th class="admin__header">Name</th>
                        <td>
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="kc">
                        <th class="admin__header">Image</th>
                        <td class="image-field">
                            <label for="imgInp" id="avatar-label" class="custom-file-upload action-link link2">
                                Upload file
                                <input type="file" name="image" id="imgInp" style="display: none;" />
                            </label>
                            @*<img src="@Html.DisplayFor(model => model.image)" height="120px" width="120px" />
                                <label for="file-upload" class="custom-file-upload action-link">
                                    Upload file
                                </label>
                                <input id="file-upload" type="file" name="image" />*@
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="kc">
                        <th class="admin__header">Description</th>
                        <td>
                            @Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control " } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="kc">
                        <th class="admin__header">Category</th>
                        <td>
                            @if (ViewBag.Categories != null)
                            {
                                @Html.DropDownListFor(model => model.category, new SelectList(ViewBag.Categories, "name", "name", ViewBag.Categories[0].name))
                            }
                        </td>
                    </tr>
                    <tr class="kc">
                        <th class="admin__header">Price</th>
                        <td>
                            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="kc">
                        <th class="admin__header">Rate</th>
                        <td>
                            @Html.EditorFor(model => model.rate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.rate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="kc">
                        <th class="admin__header">Stock</th>
                        <td>
                            @Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.stock, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                </table>
                <div class="pagination">
                    <a class="action-link"><input class="color1 cnt" type="submit" value="Create" /></a>
                    <a href="/MyShop/Index" class="action-link link2">Back to list</a>
                </div>
            </div>
        }
    </div>
</div>
