
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Purchase.cshtml";
}
@model Book_Shop.Models.Product


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MyShop - Edit</title>
    <link href="~/Content/styles_myShop.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Edit</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                    </div>
                    @using (Html.BeginForm("Edit", "MyShop", FormMethod.Post, new { encType = "multipart/form-data" }))
                    {
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Image</th>
                                            <th>Description</th>
                                            <th>Category</th>
                                            <th>Stock</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Image</th>
                                            <th>Description</th>
                                            <th>Category</th>
                                            <th>Stock</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            @Html.HiddenFor(model => model.id)
                                            <td>@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })</td>
                                            <td>@Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })</td>
                                            <td>
                                                <img src="@(Model.image)" width="100" height="100" />
                                                <input type="file" name="image" />
                                            </td>
                                            <td>@Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })</td>
                                            <td>@Html.EditorFor(model => model.category, new { htmlAttributes = new { @class = "form-control" } })</td>
                                            <td>@Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        </tr>
                                    </tbody>
                                </table>
                                @Html.ActionLink("Back to List", "MyShop")
                                <br />
                                <input type="submit" value="Save" class="btn-info" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/datatables-demo.js"></script>
</body>
</html>


